.contents_box
  %ul.member_list_wrap
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %p.name
          = current_user.name
        %p.area
          東京都
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお

.box_btn
  %ul
    %li.btn_style
      %span
        = link_to new_profile_path do
          自己紹介登録・編集
    %li.btn_style
      %span
        = link_to edit_user_path(current_user) do
          メンバー詳細
    %li.btn_style
      %span
        = link_to edit_user_path(current_user) do
          検索閲覧した履歴