.contents_box
  %ul.member_list_wrap
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %p.name
          山田やまお
        %p.area
          東京都
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお
    %li
      .left_box
        .photo
          = image_tag("sample_img.jpg", alt: "写真")
      .right_box
        %span.name
          山田やまお

.box_btn
  %ul
    %li
      = link_to "#" do
        %span
          自己紹介登録・編集
    %li
      = link_to "#" do
        %span
          メンバー詳細検索
    %li
      = link_to "#" do
        %span
          閲覧した履歴